<!-- Links & Contact Me   -->
<p class='text-center' style='color: red'>
  <%= ViewCounter.where(name: 'contactme').count %>
</p>

<div class='row'>
  <div class='links col-12 col-md-6' style='margin-bottom: 0;'>
    <!-- Links -->
    <div class='links row justify-content-center text-center pt pb'>
      <div class='col-12'>
        <h1 class='section-title'>Links</h1>
      </div>
      <div class='col-4 col-md-4'>
        <a href='https://github.com/raegertay' target="_blank"><%= image_tag 'github-logo.svg', class: 'links-logo img-fluid', alt: 'github' %></a>
      </div>
      <div class='col-4 col-md-4'>
        <a href='https://www.linkedin.com/in/raegertay/' target="_blank"><%= image_tag 'linkedin-logo.svg', class: 'links-logo img-fluid', alt: 'linkedin' %></a>
      </div>
      <div class='col-4 col-md-4'>
        <a href='https://codepen.io/raeger/' target="_blank"><%= image_tag 'codepen-logo.svg', class: 'links-logo img-fluid', alt: 'codepen' %></a>
      </div>
    </div>
  </div>

  <div class='col-12 col-md-6' style='margin-bottom: 0;'>
    <!-- Contact Me -->
    <div class='contact-me row justify-content-center text-center pt pb'>
      <div class='col-12'>
        <h1 class='section-title'>Contact Me</h1>
      </div>
      <div class='col-4 col-md-4'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M150 0C67.2 0 0 67.2 0 150c0 82.8 67.2 150 150 150s150-67.2 150-150C300 67.2 232.8 0 150 0zM150 52.7l88.8 55.4H61.2L150 52.7zM239.9 196.4h0c0 8.9-7.2 16.1-16.1 16.1H76.2c-8.9 0-16.1-7.2-16.1-16.1v-84.9c0-0.9 0.1-1.9 0.3-2.7l84.8 52.9c0.1 0.1 0.2 0.1 0.3 0.2 0.1 0.1 0.2 0.1 0.3 0.2 0.6 0.3 1.2 0.6 1.8 0.7 0.1 0 0.1 0 0.2 0 0.7 0.2 1.4 0.3 2.1 0.3h0c0 0 0 0 0 0 0.7 0 1.4-0.1 2.1-0.3 0.1 0 0.1 0 0.2 0 0.6-0.2 1.2-0.4 1.8-0.7 0.1-0.1 0.2-0.1 0.3-0.2 0.1-0.1 0.2-0.1 0.3-0.2l84.8-52.9c0.2 0.9 0.3 1.8 0.3 2.7V196.4z"/></svg>
        <p>raegertay89@gmail.com</p>
      </div>
      <div class='col-4 col-md-4'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><circle cx="150" cy="226.1" r="11.7"/><path d="M182.7 68.2h-65.4c-3.7 0-6.6 2.8-6.6 6.3v123.6c0 3.5 3 6.3 6.6 6.3h65.4c3.7 0 6.6-2.8 6.6-6.3V74.6C189.3 71.1 186.4 68.2 182.7 68.2z"/><path d="M150 0C67.2 0 0 67.2 0 150S67.2 300 150 300s150-67.2 150-150S232.8 0 150 0zM208.4 224c0 11.5-9.3 20.7-20.7 20.7h-75.2c-11.5 0-20.7-9.3-20.7-20.7V75.3c0-11.5 9.3-20.7 20.7-20.7h75.2c11.5 0 20.7 9.3 20.7 20.7V224z"/></svg>
        <p>9726 2356</p>
      </div>
    </div>
  </div>
</div>
